<!-- Шаблон помогает создавать несколько страниц сайта с одинаковой структурой + добавлять в каждую страницу какие-то свои тонкости -->
<!-- расширяем базовый шаблон base html. Все что было написано в шаблоне, выведем с помощью функции super + добавим тег p -->
{% extends 'base.html' %}

<!--
В списке ul перебираем коллекцию posts
А posts - это коллекция из самого Flask "posts=dbase.getPostsAnonce()"
Мы обращались к базе и в обработчике получили необходимые нам данные, которые передаем в html шаблон
Обработчик showPost с параметром p.id выведет информацию о конкретной статье
-->

{% block content %}
{{ super() }}
<hr>
<h3>Список опубликованных вакансий</h3>
<ul class="list-posts">
{% for p in posts %}
<li>
    <!-- Url в alias читается из базы данных -->
<p class="title"><a href="{{ url_for('showVacancy', id_vacancy=p.id)}}">{{p.name}}</a></p>
<p class="annonce">{{ p.description[:50] | striptags  }}</p>
</li>
{% endfor %}
</ul>
{% endblock %}